*{
    font-family: 'Comic Sans MS', 'Comic Sans';
}

html{
    background-color: bisque;
}

img{
    height: auto;
    float:right;
    margin: 30px;
    border: 5px solid coral;
}

/* example of descendant */
ul li
{
    color:brown;
}

ol li
{
    color:darkgoldenrod;
}

/* example of grouping selector */
h2,
h1{

    color:darkred;
    border: 3px solid coral;
    text-align: center;
}

/* example of class selection */
.subsection
{
    font-size: 1.5em;
    color:rgb(177, 100, 100);
}

/* example of multiple classes */
.subsection.ingredients
{
    text-decoration-line: underline;
    
}

.centered
{
    width: 200px;
    margin: auto;
}

.outline
{
    border: 3px solid coral;
    color: red;
}

.footer
{
    margin-top: 40em;
}